# Build outputs
build/bin
frontend/dist
lyyyra

# Dependencies
node_modules

# Debug/temporary
__debug*

# Local state/config
status.yaml
docker-settings-windows.txt
scripts/find-docker-settings.ps1
changeme

# Editor
.vscode/settings.json

# Docs in progress
*.md

# OS noise
.DS_Store
Thumbs.db

# Logs
*.log
coverage.html
coverage.out
frontend/coverage/*
