@import (less, reference) "../../vars.less";

.songCard {
	padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.2rem solid @myBlueColour;
	columns: 25rem;
	column-gap: 5rem;
	column-rule: 0.2rem dotted @myRedColour;
	border-radius: 0.5rem;
	background-color: @backgroundColour;
	margin: 0.4rem;
}

.songHeader {
	padding: 0.3em;
	border: 1px solid @myBlueColour;
	border-radius: 0.4rem;
	margin: 0;
}

.title {
	text-align: left;
	font-size: 1.5em;
}

.songNumber {
	font-weight: 700;
	color: @myBlueColour;
}

.author {
	font-style: italic;
}

.lyrics {
	color: @myGrayColour;
	font-size: 14px;
}