@import (less, reference) "vars.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex !important;
    color: @myDarkBlueColour;
    background-color: @myRedColour;
    font: normal 13px/18px 'Montserrat', 'Arial', sans-serif;
}

p {
    margin-block-start: 6px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}