@import (less, reference) "../../vars.less";

.sorting {
    width: 96%;
    min-height: 30px;

    padding: @myControlPadding;
    border: @myControlBorder;
    border-radius: @myControlRadius;
    font-size: @myControlFontSize;
}